$circleRadius : 300px;

.blue_circle {
  position: absolute;
  background-color: #1e3f82;
  left: 960-$circleRadius;
  width: 2*$circleRadius;
  height: 2*$circleRadius;
  border-radius: 50%;
  .box {
    display: block;
    overflow: hidden;
    position: absolute;
    max-width: 350px;
    max-height: 150px;
    top: 50%;
    left: 50%;
    margin: -3em;
    .left{
      margin-left: -250px;
    }

  }

  .circleText{
    color: white;
    margin-top: 0.40*$circleRadius;
    .bigfont{
      font-size: 136px;
    }
  }

}
h2 {
  padding-top: -100 + $circleRadius;;
}
.circle_container {

}

.deg0 {
  transform: translate($circleRadius);
}
.deg35 {
  transform: rotate(35deg) translate($circleRadius) rotate(-35deg);
}
.deg145 {
transform: rotate(160deg) translate(532px) rotate(-160deg);
}
.deg180 {
  transform: translate(-535px);
}
.deg225 {
  transform: rotate(200deg) translate(525px) rotate(-200deg)
}
.deg285 {
  transform: rotate(250deg) translate(335px) rotate(110deg)
}
.deg315 {
  transform: rotate(325deg) translate($circleRadius) rotate(-325deg);
}
