/* Resets and base styles from HTML5 Boilerplate */
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

a {
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:active {
    outline: none; }

ul, ol {
  margin-left: 2em;
  vertical-align: top; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

textarea {
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }
  input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
    background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

select, input, textarea {
  color: #444; }

a {
  color: #607890; }
  a:hover, a:focus {
    color: #036; }
  a:link {
    -webkit-tap-highlight-color: #fff; }

/* End HTML5 Boilerplate adaptations */
h1 {
  font-size: 4.5em; }

h1, .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%; }
  .csstransforms h1, .csstransforms .vcenter {
    padding: 0 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

h2 {
  text-align: center; }

h3 {
  text-align: center; }

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em; }

h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

img, iframe, video {
  display: block;
  max-width: 100%; }

video, iframe, img {
  display: block;
  margin: 0 auto; }

p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888; }

em {
  font-style: italic; }

li {
  padding: .25em 0;
  vertical-align: middle; }
  li > ol, li > ul {
    margin-bottom: inherit; }

.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444; }

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

@font-face {
  font-family: 'LondrinaSolid';
  src: url("../fonts/LondrinaSolid-Regular/LondrinaSolid-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'MontserratBd';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
.blue_circle {
  position: absolute;
  background-color: #1e3f82;
  left: 660px;
  width: 600px;
  height: 600px;
  border-radius: 50%; }
  .blue_circle .box {
    display: block;
    overflow: hidden;
    position: absolute;
    max-width: 350px;
    max-height: 150px;
    top: 50%;
    left: 50%;
    margin: -3em; }
    .blue_circle .box .left {
      margin-left: -250px; }
  .blue_circle .circleText {
    color: white;
    margin-top: 120px; }
    .blue_circle .circleText .bigfont {
      font-size: 136px; }

h2 {
  padding-top: 200px; }

.deg0 {
  transform: translate(300px); }

.deg35 {
  transform: rotate(35deg) translate(300px) rotate(-35deg); }

.deg145 {
  transform: rotate(160deg) translate(532px) rotate(-160deg); }

.deg180 {
  transform: translate(-535px); }

.deg225 {
  transform: rotate(200deg) translate(525px) rotate(-200deg); }

.deg285 {
  transform: rotate(250deg) translate(335px) rotate(110deg); }

.deg315 {
  transform: rotate(325deg) translate(300px) rotate(-325deg); }

.assets {
  position: absolute;
  z-index: -1; }
  .assets.kochloeffel {
    top: 700px;
    left: -50px; }
  .assets.basilikum {
    top: 400px;
    right: -75px; }
  .assets.beeren_orange {
    top: 50px;
    left: 125px; }
  .assets.beeren_rot {
    bottom: 50px;
    right: 150px; }
  .assets.peperoni {
    top: 100px;
    right: 0px; }

#home .menu-box {
  font-family: MontserratBd;
  color: white;
  font-weight: bold;
  margin-top: 19px;
  font-size: 24px;
  background-color: #f27a00;
  border-radius: 10px;
  padding: 5px 0px 5px 0px; }
  #home .menu-box.glyphicon {
    padding: 10px; }

body {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden;
  overflow-y: hidden; }

.slide {
  background: url("../img/background_wood_white.jpg");
  position: absolute;
  width: 1920px;
  height: 1080px; }

#menubar {
  position: absolute;
  height: 80px;
  width: 1920px;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100; }
  #menubar .menu-box {
    text-align: center;
    margin-left: 50px;
    position: relative;
    font-family: MontserratBd;
    color: white;
    width: 250px;
    font-weight: bold;
    margin-top: 19px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    padding: 5px 0px 5px 0px; }
    #menubar .menu-box.glyphicon {
      margin-left: 50px;
      width: 10px;
      font-family: 'Glyphicons Halflings';
      padding: 10px; }
  #menubar .menu-box:active {
    background-color: rgba(255, 255, 255, 0.9);
    color: black; }
  #menubar .header-logo {
    float: right;
    width: 400px;
    right: 15px; }
    #menubar .header-logo .thomy-logo {
      position: absolute;
      top: 20px;
      right: 60px;
      max-width: 110px;
      max-height: 60px; }
    #menubar .header-logo .maggi-logo {
      top: 25px;
      margin-left: 100px;
      margin-top: 15px;
      max-width: 90px;
      max-height: 65px; }

.blue_Headline {
  color: #3678a9; }

h1 {
  font-family: "LondrinaSolid";
  font-size: 148px;
  color: white;
  font-weight: bold;
  line-height: normal;
  margin-left: 10%;
  width: 80%; }

h2 {
  font-family: "LondrinaSolid";
  font-size: 80px;
  color: white;
  font-weight: bold; }

h3 {
  font-family: "LondrinaSolid";
  font-size: 48px;
  color: #3678a9;
  font-weight: bold; }

h4 {
  font-family: "LondrinaSolid";
  font-size: 32px;
  text-align: center;
  color: #3678a9;
  font-weight: bold; }

p {
  text-align: center;
  font-family: "LondrinaSolid";
  font-size: 24px;
  color: #3678a9; }

.bigfont {
  font-size: 80px; }

.chapter_image {
  position: absolute;
  z-index: -10; }

.deck-status {
  color: white; }

.centerContentBox {
  margin-top: 15%;
  margin-left: 20%;
  width: 60%; }

.headlineSpacer {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%; }

.blender {
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 50;
  position: absolute; }

/*# sourceMappingURL=nestle.css.map */
