@import "reset";
@import "nestleBasic";
@import "nestleCircle";
@import "treiber";

body {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden;
  overflow-y: hidden;

  .front-page-navigation {
    display: none;
  }

  .deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link {
    display:block;

    &.deck-nav-disabled, .touch & {
      display:block;
    }
  }
  .sub-page-navigation {
    display: block;
    .homeButton{
      margin-top: 5px ;
      color : #FFF;
    }
    .breadcrumbNext {
      margin-left: 0px;
      margin-right:0px ;
      margin-top: 5px;
      font-size: 50px;
      font-weight: bold;
      color: $orange;
      font-family: Montserrat;

    }

    a {
      &.menu-box {
        font-size: 42px;
        background-color: transparent;
      }
    }
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }
  }

  &.on-slide-intro {
    .front-page-navigation {
      display: block;
    }

    .sub-page-navigation {
      display: none;
    }

  }
}

.nav-link-container {
  display: block;

  .deck-next-link {
    right: 50px;
    width: 82px;
    height: 82px;
    background: transparent;

  }
  .deck-prev-link {
    top: 400px;
    right: 50px;
    width: 82px;
    height: 82px;
    background: transparent;
  }
}

.front-page-navigation {

  padding: 15px 30px;

  .menu-box {
    float: left;
    text-align: center;
    margin-right: 30px;
    font-family: MontserratBd;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #5e5e5b;
    cursor: pointer;

    &.active {
      color: #f27a00;
    }

  }

  .menu-box:hover
  {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

}

.sub-page-navigation {



  span {
    font-size: 20px;
    color: white;
    font-family: Montserrat;
  }

  .menu-box {
    float: left;
    text-align: center;
    margin-right: 30px;
    font-family: MontserratBd;
    color: #f27a00;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 25px;

  }

  #breadCrumbStep1 {
    padding: 0px;
    margin: 30px 0px 0px 0px;
    cursor: pointer;
  }

  #breadCrumbStep2 {
    padding: 0px;
    margin: 30px 0px 0px 0px;
    font-family: Montserrat;
    cursor: pointer;
  }

}



#home {
  .menu-box {
    font-family: MontserratBd;
    color: white;
    font-weight: bold;
    cursor: pointer;

    margin-top: 19px;
    font-size: 24px;
    background-color: $orange;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;

  }
}

.slide {
  background: url("../img/background_wood_white.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 1920px;
  height: 1080px;
}


#menubar {
  position: absolute;
  height: 80px;
  width: 1920px;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;



  &.glyphicon {
    margin-left: 50px;
    width: 10px;
    font-family: 'Glyphicons Halflings';
    padding: 10px;
  }
  button {
    background-color: rgba(255, 255, 255, 0.35);
    color: $orange;

  }
  .buttin:active {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
  }
  .menu {

  }
  .header-logo {

    float: right;
    width: 260px;
    right: 15px;

    .thomy-logo {
      position: absolute;
      top: 20px;
      img {
        height: 31px;
      }
    }
    .maggi-logo {
      position: absolute;
      top: 20px;
      right: 60px;
      margin-left: 100px;
      img {
        height: 31px;
      }
    }
  }
}

.blue_Headline {
  color: $blue;
}

h1 {
  font-family: "LondrinaSolid";
  font-size: 148px;
  color: $white;
  font-weight: bold;
  line-height: normal;
  margin-left: 10%;
  width: 80%;
}

h2 {
  font-family: "LondrinaSolid";
  font-size: 80px;
  color: $white;
  font-weight: bold;
}

h3 {
  font-family: "LondrinaSolid";
  font-size: 48px;
  color: $blue;
  font-weight: bold;
}

h4 {
  font-family: "LondrinaSolid";
  font-size: 32px;
  text-align: center;
  color: $blue;
  font-weight: bold;
}

p {
  text-align: center;
  font-family: "LondrinaSolid";
  font-size: 24px;
  color: $blue;

}

.bigfont {
  font-size: 80px;
}

.chapter_image {
  position: absolute;
  z-index: -10;
}

.deck-status {
  color: $white;
}

.centerContentBox {
  margin-top: 15%;
  margin-left: 20%;
  width: 60%;

}

.headlineSpacer {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
}

.blender {
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 50;
  position: absolute;
}

.slideNumber {
  right: 0px;
  top: 930px;
  position: absolute;
  z-index: 1000;
  font-size: 33px;
  font-family: Montserrat;
  color: #1e3f82;
  text-align: center;
  width: 180px;
}

.csstransitions.csstransforms .deck-prev-link {
  top: 850px !important;
}

.csstransitions.csstransforms .deck-next-link {
  top: 995px !important;
}

.buttonContainerLowerThird {
  height : 1920px;

  .buttonContainerLowerThird-inner {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    z-index: 100;

    button {
      border : 0px;
      text-align: center;
      margin-right: 30px;
      font-family: Montserrat;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      border-radius: 10px;
      padding: 10px 40px;
      background-color: #f27a00;
      cursor: pointer;
    }

  }

}